
<h2 class="text-center text-success my-3">Login</h2>

<div class="text-center">
  <img src="../../../../assets/images/user.png" alt="user" class="user-img m-1">
</div>

<div class="col-md-6 offset-md-3">

    <form #f="ngForm" (submit)="submit()" class="p-3 mt-2">
  
      <div class="form-group m-1 text-success">
        <label for="email">Email</label>

        <input [(ngModel)]="user.email" #email="ngModel" required
        type="email" name="email" id="email" class="form-control">
        <div class="text-danger" *ngIf="email.touched && !email.valid">Email is required.</div>
      </div>

      <div class="form-group m-1 text-success">
        <label for="password">Password</label>

        <input [(ngModel)]="user.password" #password="ngModel" required
        type="password" name="password" id="password" class="form-control">
        <div class="text-danger" *ngIf="password.touched && !password.valid">Password field is required.</div>
      </div>

        <div class="d-flex p-2 justify-content-start">
            <button  type="submit" [disabled]="!f.valid" [disabled]="requestSent" class="btn btn-success me-2" #sub >Login</button>
            <button type="reset" class="btn btn-danger"> clear</button>
        </div>
      </form>
</div>

