
<div class="container py-3">

  <header class="pb-3 mb-3 border-bottom">
      <a class="d-flex align-items-center text-dark text-decoration-none">
        <fa-icon [icon]="faUserGear" class="fa-2x p-2"></fa-icon>
        <span class="fs-4">Profile</span>
      </a>
    </header>

  <div class="py-md-4 p-sm-2 mb-4 bg-success rounded-3 text-light my-md-2 text-center">
    <div class="container-fluid py-2">
      <h3 class="display-4 fw-bold">Welcome</h3>
      <h2 class="fw-bold p-1">{{userEmail}}</h2>
      <p class="col-md-8 fs-4"></p>
    </div>
  </div>

  

  <div class="row align-items-md-stretch">

    <div class="col-md-12 col-lg-6 mb-2 p-2">
      <div class="h-100 p-4 bg-light border rounded-3">
        <h2 class="text-center text-secondary mb-4">User Posts</h2>

        <p class="fs-4 my-3 p-1">Number of Reqests <span class="badge bg-dark m-md-1">{{profile.numberOfRequests}}</span> </p>
        <p class="fs-4 my-3 p-1">Number of Offers <span class="badge bg-dark m-md-1">{{profile.numberOfOffers}}</span></p>

        <div class="d-flex justify-content-start p-3 mt-4">

          <a class="btn btn-success mx-1 " [routerLink]="['/user/medicines-list']">Posts List</a>
          <a class="btn btn-warning mx-1 " [routerLink]="['/user/medicine-form']">New Post</a>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6 mt-2 p-1 bg-secondary">

      <form #f="ngForm" (ngSubmit)="changeAddress()">

        <div class="form-group p-1 text-dark">
          <label for="fullName">Full Name</label>

          <input [(ngModel)]="address.fullName" #fullName="ngModel" required
          type="text" name="fullName" id="fullName" class="form-control" placeholder="{{currentAddress.fullName}}">

          <div class="text-danger" *ngIf="fullName.touched && !fullName.valid">Name is required.</div>

        </div>

          <div class="form-group p-1 text-dark">
            <label for="city">City</label>

            <input [(ngModel)]="address.city" #city="ngModel" required
            type="text" name="city" id="city" class="form-control" placeholder="{{currentAddress.city}}">

            <div class="text-danger" *ngIf="city.touched && !city.valid">City is required.</div>
          </div>

          <div class="form-group p-1 text-dark">
            <label for="street">Address</label>

            <textarea [(ngModel)]="address.street" #street="ngModel" required
            name="street" id="street" rows="2" class="form-control" placeholder="{{currentAddress.street}}"></textarea>

            <div class="text-danger" *ngIf="street.touched && !street.valid">Address field is required.</div>
          </div>

          <div class="form-group p-1 text-dark">
            <label for="phoneNumber">Phone</label>

            <input [(ngModel)]="address.phoneNumber" #phoneNumber="ngModel" required maxlength="8" minlength="8"
            type="tel" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="+961 {{currentAddress.phoneNumber}}">

            <div class="text-danger" *ngIf="phoneNumber.touched && !phoneNumber.valid">Phone Number is required.</div>

          </div>

          <div class="d-flex p-1 justify-content-start">
            <button type="submit" [disabled]="!f.valid" [disabled]="requestSent" class="btn btn-success me-2">Update Address</button>
            <button type="reset" class="btn btn-danger"> clear</button>
        </div>
      </form>
      
    </div>
    
  </div>

 