<footer class="footer mt-2 py-3 bg-light">
    <div class="container">
      <div class="d-flex justify-content-evenly">
        <span class="fw-bold fs-5 p-1 text-muted">Abbas Faour - 2022</span>
        <span class="p-1">
           
            <a href="https://www.facebook.com/profile.php?id=100078637812928" target="_blank" >
                <fa-icon [icon]="faFacebook" class="fa-2xl mx-1 text-primary" ></fa-icon>
            </a>

            <a href="https://www.instagram.com/Abbas.faour1/" class="text-dark" target="_blank">
                <fa-icon [icon]="faInstagram" class="fa-2xl mx-1" ></fa-icon>
            </a>

            <a href="https://www.linkedin.com/in/abbas-faour" target="_blank">
                <fa-icon [icon]="faLinkedin" class="fa-2xl mx-1 text-primary" ></fa-icon>
            </a>      

             <a href="https://github.com/Abbas-Faour" class="text-dark" target="_blank">
                <fa-icon [icon]="faGithub" class="fa-2xl mx-1 "></fa-icon>
            </a>

        </span>
    </div>
    </div>
  </footer>
